<tr>
    <td><a id="<%- user.rank + user.first + user.last %>">Edit</a></td>
    <td><%- user.rank %></td>
    <td><%- user.last %></td>
    <td><%- user.first %></td>
    <td><%- user.in %></td>
    <td><%- user.reason %></td>
    <td><%- user.explaination %></td>
    <td><%- user.last_date %></td>
</tr>

<script type="text/javascript">
	document.getElementById("<%- user.rank + user.first + user.last %>")
            .addEventListener("onclick", edit(<%- JSON.stringify(user) %>))

	function edit(user){
		console.log(user);
	}
</script>