doctype html
html(lang="en")
	head
		title="Roster"
		link(rel="stylesheet", href="/stylesheets/secondary.css")
		script(src="/javascripts/roster.js")
	body
		table
			thead
				tr
					th Rank
					th Last
					th First
					th Status
					th Comment
			tbody
			each user in users
				tr
					td
						a(onclick="editUser(#{user})") Edit
					td #{user.rank}
					td #{user.last}
					td #{user.first}
					td #{user.in}
					td #{user.reason}