<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Roster</title>
	<!-- <link rel="stylesheet" href="./../../public/stylesheets/widget.css"> -->
	<link href="/stylesheets/secondary.css" rel="stylesheet">
</head>
<body>
<!-- Before this table is shown, service will gather the data required  -->
<%- JSON.stringify(data[0])%><br>
<%- JSON.stringify(data[1])%><br>
<%- JSON.stringify(data[2])%><br>
<%- JSON.stringify(data[3])%><br>
<!-- This is the outline to use for display of the roster, should be pre-rendered at the server. -->
<div id="roster-container">
	<table style="width:50%">
		<tr>
            <th></th>
			<th>Rank</th>
			<th>Last</th>
			<th>First</th>
			<th>Status</th>
            <th>Reason</th>
			<th>Comment</th>
            <th>Last Date</th>
		</tr>
        <% data.forEach(cur => { %>
            <%- include("./components/user_row.ejs", {user: cur}); %>
        <% }) %>
	</table>
</div>

<script async type="text/javascript">
	function edit(user){
		console.log(user);
	}
</script>

</body>
</html>
